* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* html,
body {
  max-width: 100vw;
  overflow-x: hidden;
} */

html.sr .load-hidden {
  visibility: hidden;
 }

 .services{
  display: flex;
  gap: 1rem;
   flex-wrap: wrap;
  justify-content: center;
 }